[user]
	name = Jake Lishman
	email = jakelishman@gmail.com
[core]
	autocrlf = input
	editor = vim
	safecrlf = false
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[color]
	ui = auto
	diff = true
