[user]
	name = Jake Lishman
	email = jake@binhbar.com
	signingkey = 606B6DC90D4CABEF
[core]
	autocrlf = input
	editor = vim
	safecrlf = false
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[color]
	ui = auto
	diff = true
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
[pull]
	ff = only
[color "diff"]
	new = green
[color "status"]
	updated = green
[color "branch"]
	current = green
